.wrapper {
    width: 1200px;
    margin: 0 auto;
}
@media (max-width: 1200px) {
    .wrapper {
        width: 990px;
    }
}
@media (max-width: 990px) {
    .wrapper {
        width: 710px;
    }
}
@media(max-width:710px){
    .wrapper{
        width: 590px;
    }
}
@media(max-width:600px){
    .wrapper{
        width: 100%;
    }
}